* {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: rgb(55, 55, 55);
  font-family: Helvetica, sans-serif;
}

.header {
  padding: 70px 0;
}

h1 {
  font-size: 50px;
}

button {
  padding: 20px;
}