* {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: rgb(55, 55, 55);
  font-family: Helvetica, sans-serif;
}

.header {
  padding: 70px 0;
}

h1 {
  font-size: 50px;
}

.header p {
  font-size: 20px;
  margin: 20px 0 0 0;
}

.game {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  gap: 40px;
}

button {
  padding: 50px;
  font-size: 20px;
  border-radius: 30px;
  border: solid white;
}

button:hover {
  background-color: white;
  color: black;
}

.score {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}